In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import datetime as dt
import pickle
import requests
from bs4 import BeautifulSoup

#### Functions

In [12]:
def overnight(prices, tickers):
    """Returns a DataFrame of the overnight returns. Takes a df of the downloaded prices and a df of the tickers.
    """
    overnight = pd.DataFrame(index = ['Overnight'])
    for i in range(len(tickers)):
        ov_close = prices[tickers.index[i]][['Close']]
        ov_close = ov_close.shift(1)
        ov_open = prices[tickers.index[i]][['Open']]
        df = pd.concat([ov_close, ov_open], axis = 1)
        df['pct_change'] = (df['Open'] - df['Close'])/df['Close']
        df['cum_prod_o'] = df[['pct_change']].apply(lambda x: (x + 1).cumprod())
        overnight[tickers.index[i]] = df['cum_prod_o'].iloc[-1]
        overnight = overnight.copy()
    return overnight

In [13]:
def intraday(prices, tickers):
    """Returns a DataFrame of the intraday returns. Takes a df of the downloaded prices and a df of the tickers.
    """
    intraday = pd.DataFrame(index = ['Intraday'])
    for i in range(len(tickers)):
        in_open = prices[tickers.index[i]][['Open']]
        in_close = prices[tickers.index[i]][['Close']]
        df = pd.concat([in_open, in_close], axis = 1)
        df['pct_change'] = (df['Close'] - df['Open'])/df['Open']
        df['cum_prod_i'] = df[['pct_change']].apply(lambda x: (x + 1).cumprod())
        intraday[tickers.index[i]] = df['cum_prod_i'].iloc[-1]
        intraday = intraday.copy()
    return intraday

In [14]:
def total(prices, tickers):
    total = pd.DataFrame(index = ['Total'])
    for i in range(len(tickers)):
        df = prices[tickers.index[i]]
        open1 = df['Open'].loc[df[['Open']].first_valid_index()]
        returns = (df['Close'][-1] - open1)/open1
        total[tickers.index[i]] = returns
        total = total.copy()
    return total

In [67]:
def together(prices, tickers):
    """Combines the DataFrames from the Overnight, Intraday and Total functions. Takes a prices df and a tickers df.
    """
    def t_f(row):
        if row[-2] == 'False' and row[-1] == 'False':
            return False
        else:
            return True
    overnight_df = overnight(prices, tickers)
    intraday_df = intraday(prices, tickers)
    total_df = total(prices, tickers)
    together_df = overnight_df.append([intraday_df, total_df])
    together_df = together_df.transpose()
    together_df = tickers[['Security']].join(together_df)
    together_df['O > I'] = np.where(together_df['Overnight'] > together_df['Intraday'], 'True', 'False')
    together_df['O > T'] = np.where(together_df['Overnight'] > together_df['Total'], 'True', 'False')
    together_df['O > I and T'] = together_df.apply(lambda x: t_f(x), axis = 1)
    return together_df

#### S&P New

In [2]:
start = dt.datetime(2010, 1, 1)
end = dt.datetime.now()

In [3]:
wikiurl='https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
print(response.status_code)

200

In [4]:
soup = BeautifulSoup(response.text, 'html.parser')
sp_table=soup.find('table',{'class':"wikitable"})

In [7]:
df=pd.read_html(str(sp_table))
df=pd.DataFrame(df[0])
df['Symbol'] = df['Symbol'].str.replace('.','-',regex = True)
df.index = df['Symbol']
df = df.drop('Symbol', axis = 1)
df

,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
Symbol,,,,,,,,
MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
...,...,...,...,...,...,...,...,...
YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
ZBRA,Zebra,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [8]:
%%time
dic = {}
for ticker in df.index:
    dic["{}".format(ticker)] = yf.download(ticker, start = start, end = end)[['Open', 'Close']]
dic

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

{'MMM':                   Open       Close
 Date
 2010-01-04   83.089996   83.019997
 2010-01-05   82.800003   82.500000
 2010-01-06   83.879997   83.669998
 2010-01-07   83.320000   83.730003
 2010-01-08   83.690002   84.320000
 ...                ...         ...
 2022-05-18  151.589996  148.929993
 2022-05-19  146.199997  146.960007
 2022-05-20  147.539993  143.830002
 2022-05-23  144.580002  144.380005
 2022-05-24  144.350006  145.750000

 [3120 rows x 2 columns],
 'AOS':                  Open      Close
 Date
 2010-01-04   7.295000   7.435000
 2010-01-05   7.431667   7.340000
 2010-01-06   7.335000   7.343333
 2010-01-07   7.356667   7.365000
 2010-01-08   7.331667   7.473333
 ...               ...        ...
 2022-05-18  59.349998  57.770000
 2022-05-19  57.230000  58.450001
 2022-05-20  58.900002  57.770000
 2022-05-23  58.500000  58.369999
 2022-05-24  58.320000  58.349998

 [3120 rows x 2 columns],
 'ABT':                   Open       Close
 Date
 2010-01-04   26.000362   26.129908
 2010-01-05   26.134706   25.918797
 2010-01-06   25.880411   26.062737
 2010-01-07   26.057938   26.278646
 2010-01-08   26.273848   26.412991
 ...                ...         ...
 2022-05-18  113.419998  112.739998
 2022-05-19  112.029999  112.440002
 2022-05-20  113.400002  113.239998
 2022-05-23  113.849998  115.029999
 2022-05-24  115.160004  113.769997

 [3120 rows x 2 columns],
 'ABBV':                   Open       Close
 Date
 2013-01-02   34.919998   35.119999
 2013-01-03   35.000000   34.830002
 2013-01-04   34.619999   34.389999
 2013-01-07   34.150002   34.459999
 2013-01-08   34.290001   33.709999
 ...                ...         ...
 2022-05-18  154.789993  152.429993
 2022-05-19  151.199997  151.720001
 2022-05-20  152.330002  151.009995
 2022-05-23  151.649994  148.029999
 2022-05-24  147.029999  149.110001

 [2366 rows x 2 columns],
 'ABMD':                   Open       Close
 Date
 2010-01-04    8.860000    8.740000
 2010-01-05    8.740000    8.530000
 2010-01-06    8.520000    8.400000
 2010-01-07    8.630000    8.400000
 2010-01-08    8.380000    8.230000
 ...                ...         ...
 2022-05-18  253.220001  240.460007
 2022-05-19  239.300003  238.649994
 2022-05-20  241.059998  235.750000
 2022-05-23  238.300003  249.220001
 2022-05-24  244.690002  249.190002

 [3120 rows x 2 columns],
 'ACN':                   Open       Close
 Date
 2010-01-04   41.520000   42.070000
 2010-01-05   42.099998   42.330002
 2010-01-06   42.090000   42.779999
 2010-01-07   42.500000   42.740002
 2010-01-08   42.509998   42.570000
 ...                ...         ...
 2022-05-18  286.869995  274.160004
 2022-05-19  270.149994  273.609985
 2022-05-20  275.579987  276.649994
 2022-05-23  281.279999  283.390015
 2022-05-24  279.820007  279.309998

 [3120 rows x 2 columns],
 'ATVI':                  Open      Close
 Date
 2010-01-04  11.230000  11.300000
 2010-01-05  11.240000  11.320000
 2010-01-06  11.260000  11.260000
 2010-01-07  11.100000  10.990000
 2010-01-08  10.970000  10.900000
 ...               ...        ...
 2022-05-18  78.529999  77.919998
 2022-05-19  77.919998  77.739998
 2022-05-20  78.059998  77.400002
 2022-05-23  77.940002  77.199997
 2022-05-24  77.070000  77.029999

 [3120 rows x 2 columns],
 'ADM':                  Open      Close
 Date
 2010-01-04  31.480000  31.469999
 2010-01-05  31.549999  31.639999
 2010-01-06  31.600000  31.559999
 2010-01-07  31.549999  31.230000
 2010-01-08  31.120001  30.840000
 ...               ...        ...
 2022-05-18  88.199997  84.540001
 2022-05-19  83.370003  83.860001
 2022-05-20  84.559998  84.000000
 2022-05-23  84.989998  86.570000
 2022-05-24  86.400002  87.760002

 [3120 rows x 2 columns],
 'ADBE':                   Open       Close
 Date
 2010-01-04   36.650002   37.090000
 2010-01-05   37.040001   37.700001
 2010-01-06   37.330002   37.619999
 2010-01-07   37.410000   36.889999
 2010-01-08   36.750000   36.689999
 ...                ...         ...
 2022-05-18  404.380005  397.880005
 2022-05-19  399.010010  394.380005
 2022-05-20  401.390015  399.089996
 2022-05-23  404.010010  406.760010
 2022-05-24  401.609985  398.410004

 [3120 rows x 2 columns],
 'ADP':                   Open       Close
 Date
 2010-01-04   38.226513   37.603161
 2010-01-05   37.445126   37.401230
 2010-01-06   37.576820   37.313435
 2010-01-07   36.988586   37.295876
 2010-01-08   37.243195   37.243195
 ...                ...         ...
 2022-05-18  213.479996  208.500000
 2022-05-19  208.080002  206.850006
 2022-05-20  208.860001  208.639999
 2022-05-23  211.289993  212.960007
 2022-05-24  212.009995  212.729996

 [3120 rows x 2 columns],
 'AAP':                   Open       Close
 Date
 2010-01-04   40.700001   40.380001
 2010-01-05   40.299999   40.139999
 2010-01-06   40.049999   40.490002
 2010-01-07   39.549999   40.480000
 2010-01-08   40.250000   40.639999
 ...                ...         ...
 2022-05-18  212.860001  195.500000
 2022-05-19  194.600006  196.070007
 2022-05-20  197.550003  181.889999
 2022-05-23  182.070007  183.240005
 2022-05-24  175.309998  180.229996

 [3120 rows x 2 columns],
 'AES':                  Open      Close
 Date
 2010-01-04  13.380000  13.670000
 2010-01-05  13.670000  13.530000
 2010-01-06  13.450000  13.390000
 2010-01-07  13.370000  13.400000
 2010-01-08  13.390000  13.780000
 ...               ...        ...
 2022-05-18  20.650000  20.230000
 2022-05-19  20.170000  20.670000
 2022-05-20  20.809999  20.530001
 2022-05-23  20.889999  21.129999
 2022-05-24  21.020000  21.240000

 [3120 rows x 2 columns],
 'AFL':                  Open      Close
 Date
 2010-01-04  23.250000  23.785000
 2010-01-05  23.745001  24.475000
 2010-01-06  24.915001  24.690001
 2010-01-07  24.705000  24.955000
 2010-01-08  24.830000  24.705000
 ...               ...        ...
 2022-05-18  56.910000  56.320000
 2022-05-19  55.709999  55.599998
 2022-05-20  55.669998  55.090000
 2022-05-23  55.970001  56.529999
 2022-05-24  56.310001  57.080002

 [3120 rows x 2 columns],
 'A':                   Open       Close
 Date
 2010-01-04   22.453505   22.389128
 2010-01-05   22.324751   22.145924
 2010-01-06   22.067240   22.067240
 2010-01-07   22.017166   22.038628
 2010-01-08   21.917025   22.031473
 ...                ...         ...
 2022-05-18  121.190002  120.790001
 2022-05-19  120.309998  122.400002
 2022-05-20  124.029999  125.129997
 2022-05-23  126.449997  125.980003
 2022-05-24  125.320000  124.410004

 [3120 rows x 2 columns],
 'AIG':                  Open      Close
 Date
 2010-01-04  30.530001  29.889999
 2010-01-05  29.980000  29.330000
 2010-01-06  29.350000  29.139999
 2010-01-07  29.000000  28.580000
 2010-01-08  28.629999  29.340000
 ...               ...        ...
 2022-05-18  59.730000  58.299999
 2022-05-19  57.500000  57.900002
 2022-05-20  58.139999  55.619999
 2022-05-23  56.560001  56.930000
 2022-05-24  56.689999  56.509998

 [3120 rows x 2 columns],
 'APD':                   Open       Close
 Date
 2010-01-04   75.957443   76.928772
 2010-01-05   76.688255   76.290474
 2010-01-06   75.855690   75.661423
 2010-01-07   75.679924   75.226639
 2010-01-08   75.060127   75.707680
 ...                ...         ...
 2022-05-18  237.059998  234.470001
 2022-05-19  232.740005  234.220001
 2022-05-20  237.360001  237.589996
 2022-05-23  240.220001  237.949997
 2022-05-24  238.860001  236.820007

 [3120 rows x 2 columns],
 'AKAM':                  Open      Close
 Date
 2010-01-04  25.629999  25.920000
 2010-01-05  25.950001  26.690001
 2010-01-06  26.700001  26.469999
 2010-01-07  26.650000  26.480000
 2010-01-08  26.440001  26.480000
 ...               ...        ...
 2022-05-18  97.610001  96.150002
 2022-05-19  96.739998  98.480003
 2022-05-20  99.089996  97.510002
 2022-05-23  98.250000  98.879997
 2022-05-24  98.449997  99.559998

 [3120 rows x 2 columns],
 'ALK':                  Open      Close
 Date
 2010-01-04   8.705000   8.717500
 2010-01-05   8.690000   9.195000
 2010-01-06   9.062500   9.112500
 2010-01-07   9.137500   9.065000
 2010-01-08   9.057500   8.885000
 ...               ...        ...
 2022-05-18  47.320000  46.580002
 2022-05-19  45.950001  46.759998
 2022-05-20  47.529999  46.099998
 2022-05-23  46.980000  46.459999
 2022-05-24  45.630001  44.209999

 [3120 rows x 2 columns],
 'ALB':                   Open       Close
 Date
 2010-01-04   36.910000   38.090000
 2010-01-05   38.700001   38.020000
 2010-01-06   37.959999   38.090000
 2010-01-07   38.029999   37.820000
 2010-01-08   37.660000   38.389999
 ...                ...         ...
 2022-05-18  237.119995  235.979996
 2022-05-19  234.679993  239.080002
 2022-05-20  241.660004  236.440002
 2022-05-23  240.000000  242.940002
 2022-05-24  243.279999  243.149994

 [3120 rows x 2 columns],
 'ARE':                   Open       Close
 Date
 2010-01-04   64.690002   63.549999
 2010-01-05   63.500000   62.880001
 2010-01-06   62.990002   62.549999
 2010-01-07   62.549999   63.130001
 2010-01-08   63.060001   62.919998
 ...                ...         ...
 2022-05-18  164.979996  158.000000
 2022-05-19  157.899994  157.820007
 2022-05-20  158.000000  159.710007
 2022-05-23  161.419998  160.710007
 2022-05-24  160.940002  160.250000

 [3120 rows x 2 columns],
 'ALGN':                   Open       Close
 Date
 2010-01-04   18.049999   18.500000
 2010-01-05   18.500000   18.010000
 2010-01-06   17.969999   17.480000
 2010-01-07   17.490000   17.430000
 2010-01-08   17.410000   17.660000
 ...                ...         ...
 2022-05-18  276.500000  269.109985
 2022-05-19  267.070007  273.890015
 2022-05-20  280.000000  275.040009
 2022-05-23  278.459991  278.709991
 2022-05-24  273.170013  270.179993

 [3120 rows x 2 columns],
 'ALLE':                   Open       Close
 Date
 2013-11-18   49.750000   48.480000
 2013-11-19   48.990002   45.799999
 2013-11-20   45.980000   44.650002
 2013-11-21   44.500000   43.790001
 2013-11-22   43.900002   43.990002
 ...                ...         ...
 2022-05-18  112.099998  109.160004
 2022-05-19  108.459999  108.809998
 2022-05-20  109.779999  109.080002
 2022-05-23  110.500000  108.510002
 2022-05-24  108.089996  108.010002

 [2144 rows x 2 columns],
 'LNT':                  Open      Close
 Date
 2010-01-04  15.245000  15.175000
 2010-01-05  15.185000  15.530000
 2010-01-06  15.475000  15.650000
 2010-01-07  15.610000  15.735000
 2010-01-08  16.120001  16.040001
 ...               ...        ...
 2022-05-18  60.250000  58.939999
 2022-05-19  58.810001  58.500000
 2022-05-20  58.500000  58.669998
 2022-05-23  59.090000  59.000000
 2022-05-24  59.270000  61.320000

 [3120 rows x 2 columns],
 'ALL':                   Open       Close
 Date
 2010-01-04   30.360001   30.410000
 2010-01-05   30.480000   30.910000
 2010-01-06   30.900000   30.920000
 2010-01-07   30.850000   31.080000
 2010-01-08   30.889999   31.209999
 ...                ...         ...
 2022-05-18  128.490005  128.009995
 2022-05-19  126.510002  125.790001
 2022-05-20  125.199997  123.029999
 2022-05-23  124.540001  125.660004
 2022-05-24  126.720001  128.830002

 [3120 rows x 2 columns],
 'GOOGL':                    Open        Close
 Date
 2010-01-04   313.788788   313.688690
 2010-01-05   313.903900   312.307312
 2010-01-06   313.243256   304.434448
 2010-01-07   305.005005   297.347351
 2010-01-08   296.296295   301.311310
 ...                 ...          ...
 2022-05-18  2300.000000  2237.989990
 2022-05-19  2228.629883  2207.679932
 2022-05-20  2239.020020  2178.159912
 2022-05-23  2191.750000  2229.760010
 2022-05-24  2115.439941  2119.399902

 [3120 rows x 2 columns],
 'GOOG':                    Open        Close
 Date
 2010-01-04   312.304413   312.204773
 2010-01-05   312.418976   310.829926
 2010-01-06   311.761444   302.994293
 2010-01-07   303.562164   295.940735
 2010-01-08   294.894653   299.885956
 ...                 ...          ...
 2022-05-18  2304.750000  2248.020020
 2022-05-19  2236.820068  2214.909912
 2022-05-20  2241.709961  2186.260010
 2022-05-23  2202.080078  2233.330078
 2022-05-24  2127.550049  2118.520020

 [3120 rows x 2 columns],
 'MO':                  Open      Close
 Date
 2010-01-04  19.770000  19.790001
 2010-01-05  19.809999  19.799999
 2010-01-06  19.850000  20.090000
 2010-01-07  20.080000  20.059999
 2010-01-08  20.040001  20.110001
 ...               ...        ...
 2022-05-18  54.160000  53.200001
 2022-05-19  52.610001  51.090000
 2022-05-20  51.380001  51.090000
 2022-05-23  51.560001  52.119999
 2022-05-24  52.270000  52.930000

 [3120 rows x 2 columns],
 'AMZN':                    Open        Close
 Date
 2010-01-04   136.250000   133.899994
 2010-01-05   133.429993   134.690002
 2010-01-06   134.600006   132.250000
 2010-01-07   132.009995   130.000000
 2010-01-08   130.559998   133.520004
 ...                 ...          ...
 2022-05-18  2228.790039  2142.250000
 2022-05-19  2125.610107  2146.379883
 2022-05-20  2191.370117  2151.820068
 2022-05-23  2169.219971  2151.139893
 2022-05-24  2080.500000  2082.000000

 [3120 rows x 2 columns],
 'AMCR':              Open  Close
 Date
 2012-05-15   7.70   7.70
 2012-05-16   7.70   7.70
 2012-05-17   7.70   7.70
 2012-05-18   7.70   7.70
 2012-05-21   7.70   7.70
 ...           ...    ...
 2022-05-18  13.21  12.73
 2022-05-19  12.62  12.96
 2022-05-20  13.08  12.93
 2022-05-23  13.08  13.05
 2022-05-24  12.89  12.96

 [2524 rows x 2 columns],
 'AMD':                   Open      Close
 Date
 2010-01-04    9.790000   9.700000
 2010-01-05    9.710000   9.710000
 2010-01-06    9.680000   9.570000
 2010-01-07    9.510000   9.470000
 2010-01-08    9.370000   9.430000
 ...                ...        ...
 2022-05-18  100.000000  96.279999
 2022-05-19   96.690002  96.669998
 2022-05-20   98.389999  93.500000
 2022-05-23   91.660004  95.070000
 2022-05-24   92.540001  91.160004

 [3120 rows x 2 columns],
 'AEE':                  Open      Close
 Date
 2010-01-04  28.030001  27.760000
 2010-01-05  27.770000  27.650000
 2010-01-06  27.610001  27.459999
 2010-01-07  27.469999  27.200001
 2010-01-08  27.219999  27.010000
 ...               ...        ...
 2022-05-18  93.879997  92.800003
 2022-05-19  92.519997  92.480003
 2022-05-20  92.849998  92.639999
 2022-05-23  93.620003  93.230003
 2022-05-24  93.449997  95.510002

 [3120 rows x 2 columns],
 'AAL':                  Open      Close
 Date
 2010-01-04   4.840000   4.770000
 2010-01-05   4.790000   5.310000
 2010-01-06   5.190000   5.090000
 2010-01-07   5.060000   5.240000
 2010-01-08   5.270000   5.140000
 ...               ...        ...
 2022-05-18  17.450001  16.889999
 2022-05-19  16.629999  16.750000
 2022-05-20  17.059999  16.260000
 2022-05-23  16.430000  16.750000
 2022-05-24  16.530001  15.500000

 [3120 rows x 2 columns],
 'AEP':                   Open       Close
 Date
 2010-01-04   35.099998   34.939999
 2010-01-05   34.980000   34.540001
 2010-01-06   34.560001   34.889999
 2010-01-07   34.779999   35.189999
 2010-01-08   35.180000   35.610001
 ...                ...         ...
 2022-05-18  100.870003   99.879997
 2022-05-19   99.470001   99.040001
 2022-05-20   99.050003   99.699997
 2022-05-23  100.559998  100.269997
 2022-05-24  100.709999  102.220001

 [3120 rows x 2 columns],
 'AXP':                   Open       Close
 Date
 2010-01-04   40.810001   40.919998
 2010-01-05   40.830002   40.830002
 2010-01-06   41.230000   41.490002
 2010-01-07   41.259998   41.980000
 2010-01-08   41.759998   41.950001
 ...                ...         ...
 2022-05-18  160.789993  156.100006
 2022-05-19  153.570007  154.000000
 2022-05-20  154.350006  153.240005
 2022-05-23  156.610001  159.039993
 2022-05-24  157.289993  155.630005

 [3120 rows x 2 columns],
 'AMT':                   Open       Close
 Date
 2010-01-04   43.490002   43.459999
 2010-01-05   43.500000   44.180000
 2010-01-06   44.240002   44.410000
 2010-01-07   44.430000   44.290001
 2010-01-08   44.380001   44.380001
 ...                ...         ...
 2022-05-18  232.570007  230.630005
 2022-05-19  230.000000  233.250000
 2022-05-20  235.449997  244.279999
 2022-05-23  245.589996  249.419998
 2022-05-24  249.490005  258.519989

 [3120 rows x 2 columns],
 'AWK':                   Open       Close
 Date
 2010-01-04   22.410000   22.650000
 2010-01-05   22.670000   22.879999
 2010-01-06   22.889999   23.000000
 2010-01-07   23.120001   23.049999
 2010-01-08   23.100000   23.000000
 ...                ...         ...
 2022-05-18  146.449997  144.279999
 2022-05-19  144.070007  145.050003
 2022-05-20  145.830002  145.570007
 2022-05-23  147.279999  148.360001
 2022-05-24  148.419998  148.470001

 [3120 rows x 2 columns],
 'AMP':                   Open       Close
 Date
 2010-01-04   39.099998   39.880001
 2010-01-05   39.770000   40.810001
 2010-01-06   41.369999   41.380001
 2010-01-07   41.299999   41.689999
 2010-01-08   41.380001   41.840000
 ...                ...         ...
 2022-05-18  265.000000  259.920013
 2022-05-19  255.029999  253.919998
 2022-05-20  257.230011  256.010010
 2022-05-23  262.299988  263.040009
 2022-05-24  260.739990  260.630005

 [3120 rows x 2 columns],
 'ABC':                   Open       Close
 Date
 2010-01-04   26.290001   26.629999
 2010-01-05   26.650000   26.440001
 2010-01-06   26.389999   26.190001
 2010-01-07   25.770000   25.770000
 2010-01-08   25.860001   26.049999
 ...                ...         ...
 2022-05-18  156.929993  151.110001
 2022-05-19  149.429993  149.380005
 2022-05-20  149.589996  150.179993
 2022-05-23  151.910004  152.699997
 2022-05-24  153.000000  153.080002

 [3120 rows x 2 columns],
 'AME':                   Open       Close
 Date
 2010-01-04   17.088888   17.155556
 2010-01-05   17.177778   17.080000
 2010-01-06   17.111111   17.097778
 2010-01-07   16.977777   17.142221
 2010-01-08   17.137777   17.475555
 ...                ...         ...
 2022-05-18  120.570000  116.370003
 2022-05-19  115.129997  116.709999
 2022-05-20  117.290001  117.360001
 2022-05-23  118.760002  119.139999
 2022-05-24  118.459999  118.489998

 [3120 rows x 2 columns],
 'AMGN':                   Open       Close
 Date
 2010-01-04   56.630001   57.720001
 2010-01-05   57.330002   57.220001
 2010-01-06   56.939999   56.790001
 2010-01-07   56.410000   56.270000
 2010-01-08   56.070000   56.770000
 ...                ...         ...
 2022-05-18  246.490005  243.960007
 2022-05-19  242.350006  244.770004
 2022-05-20  244.059998  247.500000
 2022-05-23  249.679993  249.039993
 2022-05-24  248.669998  251.889999

 [3120 rows x 2 columns],
 'APH':                  Open      Close
 Date
 2010-01-04  11.752500  11.485000
 2010-01-05  11.467500  11.245000
 2010-01-06  11.260000  11.287500
 2010-01-07  11.247500  11.212500
 2010-01-08  11.162500  11.295000
 ...               ...        ...
 2022-05-18  70.199997  67.970001
 2022-05-19  67.349998  67.589996
 2022-05-20  68.379997  68.430000
 2022-05-23  68.940002  69.400002
 2022-05-24  69.019997  68.989998

 [3120 rows x 2 columns],
 'ADI':                   Open       Close
 Date
 2010-01-04   31.790001   31.670000
 2010-01-05   31.670000   31.620001
 2010-01-06   31.709999   31.559999
 2010-01-07   31.459999   31.309999
 2010-01-08   31.200001   31.490000
 ...                ...         ...
 2022-05-18  166.330002  159.919998
 2022-05-19  160.850006  160.940002
 2022-05-20  163.600006  162.440002
 2022-05-23  161.619995  161.550003
 2022-05-24  159.880005  161.850006

 [3120 rows x 2 columns],
 'ANSS':                   Open       Close
 Date
 2010-01-04   43.560001   44.639999
 2010-01-05   44.709999   43.639999
 2010-01-06   43.740002   43.349998
 2010-01-07   43.189999   43.459999
 2010-01-08   43.380001   43.759998
 ...                ...         ...
 2022-05-18  248.830002  242.270004
 2022-05-19  243.089996  248.000000
 2022-05-20  252.830002  252.149994
 2022-05-23  253.160004  254.429993
 2022-05-24  249.770004  248.220001

 [3120 rows x 2 columns],
 'ANTM':                   Open       Close
 Date

In [9]:
sp_new = pd.concat(dic, axis = 1)
sp_new

                   MMM                    AOS                    ABT  \
                  Open       Close       Open      Close        Open
Date
2010-01-04   83.089996   83.019997   7.295000   7.435000   26.000362
2010-01-05   82.800003   82.500000   7.431667   7.340000   26.134706
2010-01-06   83.879997   83.669998   7.335000   7.343333   25.880411
2010-01-07   83.320000   83.730003   7.356667   7.365000   26.057938
2010-01-08   83.690002   84.320000   7.331667   7.473333   26.273848
...                ...         ...        ...        ...         ...
2022-05-18  151.589996  148.929993  59.349998  57.770000  113.419998
2022-05-19  146.199997  146.960007  57.230000  58.450001  112.029999
2022-05-20  147.539993  143.830002  58.900002  57.770000  113.400002
2022-05-23  144.580002  144.380005  58.500000  58.369999  113.849998
2022-05-24  144.350006  145.750000  58.320000  58.349998  115.160004

                              ABBV                    ABMD              ...  \
                 Close        Open       Close        Open       Close  ...
Date                                                                    ...
2010-01-04   26.129908         NaN         NaN    8.860000    8.740000  ...
2010-01-05   25.918797         NaN         NaN    8.740000    8.530000  ...
2010-01-06   26.062737         NaN         NaN    8.520000    8.400000  ...
2010-01-07   26.278646         NaN         NaN    8.630000    8.400000  ...
2010-01-08   26.412991         NaN         NaN    8.380000    8.230000  ...
...                ...         ...         ...         ...         ...  ...
2022-05-18  112.739998  154.789993  152.429993  253.220001  240.460007  ...
2022-05-19  112.440002  151.199997  151.720001  239.300003  238.649994  ...
2022-05-20  113.239998  152.330002  151.009995  241.059998  235.750000  ...
2022-05-23  115.029999  151.649994  148.029999  238.300003  249.220001  ...
2022-05-24  113.769997  147.029999  149.110001  244.690002  249.190002  ...

                   YUM                    ZBRA                     ZBH  \
                  Open       Close        Open       Close        Open
Date
2010-01-04   25.248022   25.226456   28.469999   28.670000   57.582523
2010-01-05   25.248022   25.140186   28.549999   28.620001   59.533981
2010-01-06   25.125809   24.960461   27.410000   28.400000   60.252426
2010-01-07   24.852625   24.953272   28.230000   27.690001   61.019417
2010-01-08   24.946081   24.960461   27.580000   27.600000   60.009708
...                ...         ...         ...         ...         ...
2022-05-18  111.400002  109.459999  338.829987  326.420013  118.000000
2022-05-19  109.080002  109.970001  324.170013  324.100006  115.089996
2022-05-20  110.989998  111.919998  330.019989  325.369995  118.320000
2022-05-23  113.000000  113.820000  330.160004  334.730011  119.239998
2022-05-24  113.269997  114.070000  330.299988  322.880005  120.199997

                             ZION                    ZTS
                 Close       Open      Close        Open       Close
Date
2010-01-04   58.271847  12.940000  13.330000         NaN         NaN
2010-01-05   60.116505  13.280000  13.800000         NaN         NaN
2010-01-06   60.097088  13.670000  15.000000         NaN         NaN
2010-01-07   61.475727  14.970000  16.680000         NaN         NaN
2010-01-08   60.184467  16.190001  16.410000         NaN         NaN
...                ...        ...        ...         ...         ...
2022-05-18  116.449997  54.040001  53.000000  164.800003  158.860001
2022-05-19  116.910004  52.270000  52.060001  158.139999  158.630005
2022-05-20  117.610001  52.599998  51.990002  161.610001  162.559998
2022-05-23  120.830002  52.820000  54.299999  163.710007  163.000000
2022-05-24  119.389999  54.080002  53.540001         NaN         NaN

[3121 rows x 1008 columns]

In [10]:
with open('sp_new.txt', "wb") as file:
    pickle.dump(sp_new, file)

In [11]:
with open('sp_new.txt', "rb") as file:
    sp_new = pickle.load(file)
sp_new

                   MMM                    AOS                    ABT  \
                  Open       Close       Open      Close        Open
Date
2010-01-04   83.089996   83.019997   7.295000   7.435000   26.000362
2010-01-05   82.800003   82.500000   7.431667   7.340000   26.134706
2010-01-06   83.879997   83.669998   7.335000   7.343333   25.880411
2010-01-07   83.320000   83.730003   7.356667   7.365000   26.057938
2010-01-08   83.690002   84.320000   7.331667   7.473333   26.273848
...                ...         ...        ...        ...         ...
2022-05-18  151.589996  148.929993  59.349998  57.770000  113.419998
2022-05-19  146.199997  146.960007  57.230000  58.450001  112.029999
2022-05-20  147.539993  143.830002  58.900002  57.770000  113.400002
2022-05-23  144.580002  144.380005  58.500000  58.369999  113.849998
2022-05-24  144.350006  145.750000  58.320000  58.349998  115.160004

                              ABBV                    ABMD              ...  \
                 Close        Open       Close        Open       Close  ...
Date                                                                    ...
2010-01-04   26.129908         NaN         NaN    8.860000    8.740000  ...
2010-01-05   25.918797         NaN         NaN    8.740000    8.530000  ...
2010-01-06   26.062737         NaN         NaN    8.520000    8.400000  ...
2010-01-07   26.278646         NaN         NaN    8.630000    8.400000  ...
2010-01-08   26.412991         NaN         NaN    8.380000    8.230000  ...
...                ...         ...         ...         ...         ...  ...
2022-05-18  112.739998  154.789993  152.429993  253.220001  240.460007  ...
2022-05-19  112.440002  151.199997  151.720001  239.300003  238.649994  ...
2022-05-20  113.239998  152.330002  151.009995  241.059998  235.750000  ...
2022-05-23  115.029999  151.649994  148.029999  238.300003  249.220001  ...
2022-05-24  113.769997  147.029999  149.110001  244.690002  249.190002  ...

                   YUM                    ZBRA                     ZBH  \
                  Open       Close        Open       Close        Open
Date
2010-01-04   25.248022   25.226456   28.469999   28.670000   57.582523
2010-01-05   25.248022   25.140186   28.549999   28.620001   59.533981
2010-01-06   25.125809   24.960461   27.410000   28.400000   60.252426
2010-01-07   24.852625   24.953272   28.230000   27.690001   61.019417
2010-01-08   24.946081   24.960461   27.580000   27.600000   60.009708
...                ...         ...         ...         ...         ...
2022-05-18  111.400002  109.459999  338.829987  326.420013  118.000000
2022-05-19  109.080002  109.970001  324.170013  324.100006  115.089996
2022-05-20  110.989998  111.919998  330.019989  325.369995  118.320000
2022-05-23  113.000000  113.820000  330.160004  334.730011  119.239998
2022-05-24  113.269997  114.070000  330.299988  322.880005  120.199997

                             ZION                    ZTS
                 Close       Open      Close        Open       Close
Date
2010-01-04   58.271847  12.940000  13.330000         NaN         NaN
2010-01-05   60.116505  13.280000  13.800000         NaN         NaN
2010-01-06   60.097088  13.670000  15.000000         NaN         NaN
2010-01-07   61.475727  14.970000  16.680000         NaN         NaN
2010-01-08   60.184467  16.190001  16.410000         NaN         NaN
...                ...        ...        ...         ...         ...
2022-05-18  116.449997  54.040001  53.000000  164.800003  158.860001
2022-05-19  116.910004  52.270000  52.060001  158.139999  158.630005
2022-05-20  117.610001  52.599998  51.990002  161.610001  162.559998
2022-05-23  120.830002  52.820000  54.299999  163.710007  163.000000
2022-05-24  119.389999  54.080002  53.540001         NaN         NaN

[3121 rows x 1008 columns]

In [17]:
sp_overnight = overnight(sp_new, df)
sp_overnight

,MMM,AOS,ABT,ABBV,ABMD,ACN,ATVI,ADM,ADBE,ADP,...,WMB,WTW,WYNN,XEL,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Overnight,1.353127,5.238618,1.842547,1.442071,3.364738,0.543741,9.608467,2.169149,2.69774,0.936958,...,1.945243,0.404311,12.616967,0.807711,2.478884,1.474047,3.500933,0.932736,3.160868,NaN

In [19]:
sp_intraday = intraday(sp_new, df)
sp_intraday

,MMM,AOS,ABT,ABBV,ABMD,ACN,ATVI,ADM,ADBE,ADP,...,WMB,WTW,WYNN,XEL,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Intraday,1.296347,1.526859,2.362906,2.961051,8.372108,12.280429,0.713881,1.276241,4.030731,5.924146,...,1.057146,7.093093,0.075178,4.398752,1.376435,3.032909,3.203255,2.224642,1.300415,NaN

In [21]:
sp_total = total(sp_new, df)
sp_total

,MMM,AOS,ABT,ABBV,ABMD,ACN,ATVI,ADM,ADBE,ADP,...,WMB,WTW,WYNN,XEL,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Total,0.754122,6.998629,3.375708,3.270046,27.125284,5.727119,5.859306,1.787802,9.870668,4.564986,...,1.071761,1.870385,-0.049804,2.566885,2.487234,3.517978,10.341061,1.073372,3.137558,NaN

In [68]:
%%time
sp_together = together(sp_new, df)
sp_together

Wall time: 7.88 s

,Security,Overnight,Intraday,Total,O > I,O > T,O > I and T
Symbol,,,,,,,
MMM,3M,1.353127,1.296347,0.754122,True,True,True
AOS,A. O. Smith,5.238618,1.526859,6.998629,True,False,True
ABT,Abbott,1.842547,2.362906,3.375708,False,False,False
ABBV,AbbVie,1.442071,2.961051,3.270046,False,False,False
ABMD,Abiomed,3.364738,8.372108,27.125284,False,False,False
...,...,...,...,...,...,...,...
YUM,Yum! Brands,1.474047,3.032909,3.517978,False,False,False
ZBRA,Zebra,3.500933,3.203255,10.341061,True,False,True
ZBH,Zimmer Biomet,0.932736,2.224642,1.073372,False,False,False
ZION,Zions Bancorp,3.160868,1.300415,3.137558,True,True,True
ZTS,Zoetis,NaN,NaN,NaN,False,False,False

In [52]:
sp_together['O > I'].value_counts()

True     270
False    234
Name: O > I, dtype: int64

In [53]:
sp_together['O > T'].value_counts()

False    296
True     208
Name: O > T, dtype: int64

In [69]:
sp_together['O > I and T'].value_counts()

True     297
False    207
Name: O > I and T, dtype: int64

In [70]:
normal = sp_together.loc[sp_together['O > I and T'] == False]
normal

,Security,Overnight,Intraday,Total,O > I,O > T,O > I and T
Symbol,,,,,,,
ABT,Abbott,1.842547,2.362906,3.375708,False,False,False
ABBV,AbbVie,1.442071,2.961051,3.270046,False,False,False
ABMD,Abiomed,3.364738,8.372108,27.125284,False,False,False
ACN,Accenture,0.543741,12.280429,5.727119,False,False,False
ADBE,Adobe,2.697740,4.030731,9.870668,False,False,False
...,...,...,...,...,...,...,...
WTW,Willis Towers Watson,0.404311,7.093093,1.870385,False,False,False
XEL,Xcel Energy,0.807711,4.398752,2.566885,False,False,False
YUM,Yum! Brands,1.474047,3.032909,3.517978,False,False,False
ZBH,Zimmer Biomet,0.932736,2.224642,1.073372,False,False,False
ZTS,Zoetis,NaN,NaN,NaN,False,False,False